@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali&display=swap');

body {
    font-family: 'Hind Siliguri', sans-serif;
    font-family: 'Noto Sans Bengali', sans-serif;
}

html,
body {
    scroll-behavior: smooth;
}

/* custom scroll  */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(216, 212, 212);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(175, 174, 174);
}