  *,
  *::before,
  *::after {
      box-sizing: border-box;
  }

  .custom-field {
      position: relative;
      font-size: 14px;
      border-top: 5px solid transparent;
      margin-bottom: 5px;
      --field-padding: 8px;
  }

  .custom-field input {
      border: none;
      -webkit-appearance: none;
      -ms-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: #f2f2f2;
      padding: var(--field-padding);
      border-radius: 15px;
      width: 100%;
      outline: none;
      font-size: 14px;
  }

  .custom-field .placeholder {
      position: absolute;
      left: var(--field-padding);
      width: calc(100% - (var(--field-padding) * 2));
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      top: 23px;
      line-height: 100%;
      transform: translateY(-60%);
      color: #aaa;
      transition:
          top 0.3s ease,
          color 0.3s ease,
          font-size 0.3s ease;
  }

  /* ONE */
  .custom-field.one input {
      background: white;
      border: 2px solid #ddd;
      transition: border-color 0.3s ease;
  }

  .custom-field.one input+.placeholder {
      left: 8px;
      padding: 0 5px;
  }

  .custom-field.one input.dirty,
  .custom-field.one input:not(:placeholder-shown),
  .custom-field.one input:focus {
      border-color: #4596ed;
      transition-delay: 0.1s;
  }

  .custom-field.one input.dirty+.placeholder,
  .custom-field.one input:not(:placeholder-shown)+.placeholder,
  .custom-field.one input:focus+.placeholder {
      top: 0;
      font-size: 12px;
      color: #4596ed;
      background: whitesmoke;
      width: auto;
      font-weight: bold;
  }